<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Poor Man's Rekog</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="../jquery.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="../static/js/index.js"></script>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="#">Poor Man's Rekognition</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#about">About</a></li>
                    <li><a href="#image-descri">Image</a></li>
                    <li><a href="#video-descri">Video</a></li>
                    <li><a href="#feedback">Feedback</a></li>
                    <li><a href="#names">Names</a></li>
                </ul>
                
              </div>
            </div>
          </nav>
      
    </div>

    <hr />
    <div class="about" id="about">
      <div class="para">
        <p class="para-heading">About</p>
        This is my proof of concept for the Poor Man's Rekognition Project for
        GSOC'19. It can recognise 1081 celebrity faces. The model uses dlib's
        frontal face detector and can detect front views of the face, using the
        Histogram of Orineted Gradients (hog) detection method. The backend is
        written in Flask.The model is capable of recognising faces in an image,
        in a video and is capable of tuning its parameters for feedback.
        <br /><br />
        Source code:
        <a href="https://github.com/gigatesseract/Celekt" target="_blank"
          >here</a
        ><br>
        link to dataset: <a href = "https://drive.google.com/open?id=1NpuNBH6FNwPTXpxxPZ-xbqh3YhowcbF5" target = "_blank">here</a> <br> 
        link to input/output files: <a href= "https://drive.google.com/open?id=1n7_gZiYdT1nfJMj-oUqMKrORQtMCle1v" target = "_blank">here</a><br>
        The dataset was accumulated using my <a href="https://github.com/gigatesseract/GimageScrape" target = "_blank">image scraper tool</a> and hence is less in number (approx. 20/face) and is of low resolution.
      </div>
    </div>
    <hr />
    <div class="image-container" id="image-descri">
      <div class="canvas">
        <canvas id="imagecanvas" width="300" height="300">
          > Your browser does not support the HTML5 canvas tag.
        </canvas>
      </div>
      <div class="image-para">
        <p class="para-heading">Image Recognition</p>

        A post request that returns the coordinates of bounded box of each face,
        and likeliness of celebrity-resemblance for each face in an image <br />

        <div class="imageform">
          <form
            method="POST"
            action="javascript:void(null);"
            enctype="multipart/form-data"
            id="image-form"
            class="form-inline"
          >
            <div class="form-group">
              <input
                type="file"
                class="d-inline"
                id="image"
                aria-describedby="image"
                name="image"
                onchange="readURL(this);"
              />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="image-card-container">
          <div class="image-likeliness" id="image-likeliness"></div>
        </div>
      </div>
    </div>

    <hr />
    <div class="video" id="video-descri">
      <div class="para">
        <p class="para-heading">Video recognition</p>
        A POST request with a video. A processed video is returned. (Note: the
        audio is stripped off. Processing takes time because the server isn't
        powerful enough. (Can process 4-5 frames per second)). GET processed
        video after posting it
        <br />
        <div class="imageform">
          <form
            method="POST"
            action="javascript:void(null);"
            enctype="multipart/form-data"
            id="video-form"
            class="form-inline"
          >
            <div class="form-group">
              <input
                type="file"
                class="d-inline"
                id="image"
                aria-describedby="image"
                name="video"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <button id="get-video" class="btn btn-primary">GET VIDEO</button>
          <p id="video-place"></p>
          <div class="video-player" id="video-player">
            <video width="320" height="240" controls>
              <source src="" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="feedback" id=feedback>
      <div class="para">
        <p class="para-heading">Feedback</p>
        Enter a name, and supply an image. (names must all be small and should
        have underscores instead of spaces. eg. dwayne_johnson). The more images
        you supply, the more the model will have confidence in that person.
        <div class="imageform">
          <form
            method="POST"
            action="javascript:void(null);"
            enctype="multipart/form-data"
            id="feed-form"
            class="form-inline"
          >
            <div class="form-group">
              <input
                type="file"
                class="d-inline"
                id="fimage"
                aria-describedby="image"
                name="video"
                required
              />
            </div>
            <div class="form-group">
              <label for="name">Name:</label>
              <input
                type="text"
                class="d-inline"
                id="fname"
                name="name"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <div id="feed-result"></div>
        </div>
      </div>
    </div>
    <hr />
    <div class="names" id="names">
      <div class="para">
        <p class="para-heading">List of all celebrities</p>
        Run a sample GET request to get the list of all celebrity names that the
        model can recognise.
      
      <div class="nameform">
         

            <button type="submit" class="btn btn-primary" id="get-names">GET names</button>
            <button type="submit" class="btn btn-primary" id="clear">clear</button>
          
          <div class="name-result" id="name-result"></div>
          </div>
    </div>
  </body>
</html>
